<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>My Instagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanaz Mahmoudi">
    <meta name="keywords" content="html, css, js, react">
    <meta name="description" content="sample of instagram">
    <link rel="icon" href="./images/gray-logo.png">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer="defer" src="./js/instagram.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>

  <body>

    <nav>
      <div id="logo"><h1 id="logo-style">My Instagram</h1></div>
      <div id="seacrh">
        <div class="input-container">
          <img class="search-logo" src="./images/search-logo.png">
          <input class="input-text" type="text" placeholder="Search">
          <span class="close-logo">&times;</span>
        </div>
      </div>
      <ul id="right">
        <li><i class="fa fa-home"></i></li>
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-bandcamp"></i></li>
        <li><i class="fa fa-heart"></i></li>
        <li><img class="profile" src="./images/avatar.png"></li>
      </ul>
    </nav>

    <div class="container">

      <div class="main">

        <div class="stories">
          <div class="all-stories">
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.1</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.2</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.3</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.4</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.5</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.6</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.7</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.8</a>
              </div>
            </div>
            <div class="contain-story">
              <div class="contain-pic">
                <img class="story-pic" src="./images/avatar.png">
              </div>
              <div class="story-text">
                <a href="#">id no.9/2</a>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          content
        </div>
      </div>

      <div class="aside">
        <div class="left">
          aside
        </div>
      </div>
      
    </div>

    <section>
      whole
      <p class="p-close">&times;</p>
    </section>

  </body>
</html>