div.content {
  background-color: black;
  margin-top: 25px;
  width: 100%;
  border: 1px solid rgb(107, 104, 107);
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.header-content-row {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

div.header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* div.contain-pic-content {
  margin: 0 5px ;
  background-image: linear-gradient(to right, #bdc3c7 0%, #185a9d 30%, #2c3e50 50%);
  background-clip: border-box;
  border-radius: 50px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.contain-pic-content > img {
  margin: auto;
} */ /*remember*/

div.main-post {
  position: relative;
  width: 100%;
}

.main-post > img {
  width: 100%;
}

div.like-cm-save {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.center-content {
  width: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.left-content {
  width: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.left-content > i {
  font-size: 25px;
}

div.liked {
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

div.container-content {
  width: 100%;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

div.caption {
  width: 100%;
  margin-bottom: 10px;
}

div.comment {
  width: 100%;
}

span.span-comment {
  font-weight: bold;
}

p.p-comment {
  margin: 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

div.time-post {
  color: rgba(255, 255, 255, 0.582);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}

div.ur-comment {
  width: 100%;
  min-height: 60px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

textarea.comment-message {
  width: 90%;
  height: 18px;
  max-height: 80px;
  background-color: black;
  color: white;
  border: none;
  padding: 0px 15px;
  resize: none;
  overflow: hidden; /*impo*/
}

.ur-comment > input {
  width: 10%;
  background-color: black;
  color: rgba(33, 137, 207, 0.801);
  font-weight: bold;
  border: none;
  padding: 0px 15px;
  cursor: pointer;
}
